[ndbd default]
NoOfReplicas=2
DataMemory=80M
IndexMemory=18M

[ndb_mgmd]
NodeId=1
#hostname=mysql_manager
hostname=198.168.0.2
datadir=/var/lib/mysql

[ndbd]
NodeId=11
#hostname=data_node_1
hostname=198.168.0.3
datadir=/var/lib/mysql

[ndbd]
NodeId=12
#hostname=node_data_2
hostname=198.168.0.4
datadir=/var/lib/mysql

[mysqld]
NodeId=21
#hostname=mysql_server_1
hostname=198.168.0.9


[mysqld]
NodeId=22
#hostname=mysql_server_2
hostname=198.168.0.10
